{% extends "_base" %}

{% block main %}
<main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{post.getTitle()}}</h1>
            <p id="content" class="col-md-8 fs-4">
                {{post.getContent()}}
            </p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div style="
            background-image: url( {{post.getPublisher().getAvatar_path()}});
            background-position: center;
            background-size: cover;
            background-blend-mode: overlay;"
                 class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Publisher: {{post.getPublisher().getNickname()}}</h2>
                <p>About: {{post.getPublisher().getAbout()}}</p>
                <p>Levels: {% for level in post.getPublisher.getLevels() %}
                    &nbsp;<span style="color: {{level.getColor()}} ;">{{level.getLevelName()}}</span>&nbsp;&nbsp;
                    {% endfor %} </p>
                <a href="/user/{{post.getPublisher().getId()}}" target="_blank" class="btn btn-outline-light" type="button">User profile</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Post info</h2>
                <p>Release time: {{post.getReleaseTime()}}</p>
                <p>Last Modify Time: {{post.getModifyTime()}}</p>
                <P>Views: {{post.getViews()}} Likes: {{post.getLikes()}} Comments: {{post.getCommentsCount()}}</P>
                {% if user.getId == post.getPublisher().getId %}
                <a href="/content/edit/{{post.getId}}" target="_blank" class="btn btn-outline-dark" type="button">Edit Post</a>
                {%endif%}
            </div>
        </div>
    </div>

    {% if comments.size() > 0%}
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Comments</h6>
        {% for comment in comments %}
        <div class="d-flex text-muted pt-3">
            <a href="/user/{{comment.getUid().getId()}}" target="_blank">
                {% if comment.getUid().getAvatar_path() != null%}
                <img class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                     width="32" height="32"
                     xmlns="http://www.w3.org/2000/svg" role="img"
                     aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"
                     focusable="false"
                     src="{{comment.getUid().getAvatar_path()}}"
                >
                <title>{{commet.getUid().getUsername()}}</title>
                <rect width="100%" height="100%" fill="#007bff"></rect>
                </img>
                {% else %}
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                {% endif %}
            </a>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">{{comment.getUid().getNickname()}}</strong> &nbsp; &nbsp;
                    <span>@{{comment.getUid().getUsername()}}</span>
                </div>
                <span class="d-block">{{comment.getContent()}}</span>
            </div>
        </div>
        {% endfor %}
        <small class="d-block text-end mt-3">
            <nav aria-label="Page navigation" class="align-content-end">
                <ul class="pagination">
                    <li class="page-item  {% if commentPage==1 %} disabled {% endif %}">
                        <a class="page-link" href="{{ request.contextPath }}?commentPage=1" aria-label="Start">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% if page == totalCommentPage and commentPage-2 >= 1 %}
                    <li class="page-item"><a class="page-link" href="{{ request.contextPath }}?commentPage={{commentPage-2}}">{{commentPage-2}}</a></li>
                    {% endif %}
                    <li class="page-item  {% if commentPage==1 %} visually-hidden {% endif %}"><a class="page-link" href="{{ request.contextPath }}?commentPage={{commentPage-1}}">{{commentPage-1}}</a></li>
                    <li class="page-item disabled"><span class="page-link" href="#">{{commentPage}}</span></li>
                    <li class="page-item  {% if commentPage ==totalCommentPage %} visually-hidden {% endif %}"><a class="page-link" href="{{ request.contextPath }}?commentPage={{commentPage+1}}">{{commentPage+1}}</a></li>
                    {% if commentPage == 1 and commentPage+2 <= totalCommentPage %}
                    <li class="page-item"><a class="page-link" href="{{ request.contextPath }}?commentPage={{commentPage+2}}">{{commentPage+2}}</a></li>
                    {% endif %}
                    <li class="page-item {% if commentPage==totalCommentPage %} disabled {% endif %}">
                        <a class="page-link" href="{{ request.contextPath }}?page={{totalCommentPage}}" aria-label="End">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </small>
    </div>
    {% endif %}
</main>
{% endblock %}