{% extends "_base" %}

{% block main %}
<script>
    $(function () {
        $('#signinForm').submit(function (e) {
            $('#signinForm button').addClass('disabled');
            e.preventDefault();
            if ($('#username').val() == '' || $('#password').val() == '') {
                $('#error').removeClass('visually-hidden')
                $('#error').text('Please fill information');
                return;
            };
            $('#error').addClass('visually-hidden')
            $('#error').text('');
            var data = {
                username: $('#username').val(),
                password: $('#password').val()
            };
            $.ajax({
                type: 'POST',
                url: '#',
                data: JSON.stringify(data),
                success: function () {
                    location.assign('./');
                },
                error: function (xhr) {
                    console.log(xhr);
                    if (xhr.status === 301 || xhr.status === 302) {
                        // 如果是跳转状态码，解析 Location 头并进行跳转
                        const locationHeader = xhr.getResponseHeader('Location');
                        if (locationHeader) {
                            console.log('Jumping to:', locationHeader);
                            location.assign(locationHeader);
                            return;
                        }
                    }
                    if (xhr.status === 200 || xhr.status === 201) {
                        location.assign('./');
                    }
                    $('#error').removeClass('visually-hidden')
                    $('#signinForm button').removeClass('disabled');
                    let resp = xhr.responseJSON
                    console.log(resp)
                    switch (resp.code) {
                        case 401: $('#error').text("Username/Email or password is wrong"); break;
                        case 403: $('#error').text("User didn't active or banned"); break;
                        default: $('#error').text(resp.msg); break;
                    }
                },
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    });
</script>

<form id="signinForm">
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div id="error" class="w-50 alert alert-danger visually-hidden" role="alert">
    </div>
    <div class="w-50 form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="Username or Email">
        <label for="username">Username or Email</label>
    </div>
    <div class="w-50 form-floating mb-3">
        <input id="password" type="password" class="form-control" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" checked="checked" value="remember-me"> Remember me
        </label>
    </div>
    <div class="mb-3">
        <button class="w-25 btn btn-lg btn-primary" type="submit">Login</button> or <a type="button" href="./register"
            class="w-20 btn btn-lg btn-secondary hide">Register</a>
    </div>
    Forget password?<a href="./reset">Reset password</a>
</form>
{% endblock %}