{% extends "_base" %}

{% block main %}
<script>
    $(function () {
        $('#signinForm').submit(function (e) {
            e.preventDefault();
            if ($('#username').val() == '' || $('#password').val() == '') {
                $('#error').text('Please fill information');
                return;
            };
            $('#error').text('');
            var data = {
                username: $('#username').val(),
                password: $('#password').val()
            };
            $.ajax({
                type: 'POST',
                url: '#',
                data: JSON.stringify(data),
                success: function () {
                        location.assign('./');
                },
                error: function (xhr) {
                    console.log(xhr);
                    if (xhr.status === 301 || xhr.status === 302) {
                        // 如果是跳转状态码，解析 Location 头并进行跳转
                        const locationHeader = xhr.getResponseHeader('Location');
                        if (locationHeader) {
                            console.log('Jumping to:', locationHeader);
                            location.assign(locationHeader);
                            return;
                        }
                    }
                    if(xhr.status === 200|| xhr.status === 201){
                        location.assign('./');
                    }
                    let resp = xhr.responseJSON
                    console.log(resp)
                    switch(resp.code){
                        case 401 : $('#error').text("Username/Email or password is wrong");break;
                        case 403: $('#error').text("User didn't active or banned");break;
                        default : $('#error').text(resp.msg);break;
                    }
                },
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    });
</script>

<form id="signinForm">
    <div class="form-group">
        <p id="error" class="text-danger"></p>
    </div>
    <div class="form-group">
        <label>Username</label>
        <input id="username" type="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input id="password" type="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-outline-primary">Login</button> or <a type="button" href="./register" class="btn btn-outline-secondary">Register</a>
    <br><br>
    Forget password?<a href="./reset">Reset password</a>
</form>
{% endblock %}