{% extends "_base" %}

{% block main %}
<script>
    $(function () {
        $('#regForm').submit(function (e) {
            $('#regForm button').addClass('disabled');
            e.preventDefault()
            if ($('#username').val() == '' || $('#email').val() == '' || $('#password').val() == '') {
                $('#error').removeClass('visually-hidden')
                $('#error').text('Please entry all information');
                return;
            };
            if (!/^[a-zA-Z0-9]+$/.test($('#username').val())) {
                $('#error').removeClass('visually-hidden')
                $('#error').text('Username should only contain letters and numbers');
                return;
            };
            if (!/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test($('#email').val())) {
                $('#error').removeClass('visually-hidden')
                $('#error').text('Email format error');
                return;
            };
            if ($('#password').val().length < 6 || $('#password').val().length > 16) {
                $('#error').removeClass('visually-hidden')
                $('#error').text('Password length should be 6-16');
                return;
            };
            $('#error').addClass('visually-hidden')
            $('#error').text('');
            let data = {
                username: $('#username').val(),
                nickname: $('#nickname').val(),
                email: $('#email').val(),
                password: $('#password').val()
            };
            $.ajax({
                type: 'POST',
                url: '#',
                data: JSON.stringify(data),
                success: function (resp) {
                    location.assign('/register/verify');
                },
                error: function (xhr){
                    console.log(xhr);
                    if (xhr.status === 301 || xhr.status === 302) {
                        // 如果是跳转状态码，解析 Location   头并进行跳转
                        const locationHeader = xhr.getResponseHeader('Location');
                        if (locationHeader) {
                            console.log('Jumping to:', locationHeader);
                            location.assign(locationHeader);
                            return;
                        }
                    }
                    if (xhr.status === 200 || xhr.status === 201) {
                        location.assign('/register/verify');
                    }
                    $('#error').removeClass('visually-hidden')
                    $('#regForm button').removeClass('disabled');
                    let resp = xhr.responseJSON
                    console.log(resp)
                    switch (resp.code) {
                        case 409: $('#error').text("Username/Email is exist"); break;
                        default: $('#error').text(resp.msg); break;
                    }
                },
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    });
</script>

<form id="regForm">


<h1 class="h3 mb-3 fw-normal">Register</h1>
    <div id="error" class="w-50 alert alert-danger visually-hidden" role="alert">
    </div>
    <div class="w-50 form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    <div class="w-50 form-floating mb-3">
        <input type="nickname" class="form-control" id="nickname" placeholder="nickname">
        <label for="nickname">Nickname</label>
    </div>
    <div class="w-50 form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email">
        <label for="email">Email</label>
    </div>
    <div class="w-50 form-floating mb-3">
        <input id="password" type="password" class="form-control" placeholder="Password">
        <label for="password">Password</label>
    </div>

    <div class="mb-3">
        <button class="w-25 btn btn-lg btn-primary" type="submit">Register</button> or <a type="button" href="/register/verify" class="w-20 btn btn-lg btn-secondary hide">Verify Account</a>
    </div>
    Have account? <a href="/login">Login</a>
</form>
{% endblock %}