{% extends "_base" %}

{% block main %}
<script>
    $(function () {
        $('#resetForm').submit(function (e) {
            e.preventDefault();
            if ($('#username').val() == '') {
                $('#error').text('Please entry all information')
                return;
            };
            $('#error').text('');
            var data = {
                input: $('#username').val(),
            };
            $.ajax({
                type: 'POST',
                url: '#',
                data: JSON.stringify(data),
                success: function (resp) {
                    if (resp.error) {
                        $('#error').text(resp.error);
                    } else {
                        location.assign('./verify');
                    }
                },
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    });
</script>

<form id="resetForm">
    <div class="form-group">
        <p id="error" class="text-danger"></p>
    </div>
    <div class="w-50 form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="Username or password">
        <label for="username">Username or password</label>
    </div>
    <button type="submit" class="btn btn-outline-primary">Next</button>
</form>
{% endblock %}