<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Demo for us</title>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/blueimp-md5.js"></script>
  <script src="/assets/js/bootstrap.bundle.js"></script>
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/fonts/bootstrap/font/bootstrap-icons.css">
  {% block customhead %}
  {% endblock %}
</head>
<body style="font-size:16px">

<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <i class="bi bi-activity"></i>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-primary">Home</a></li>
        <li><a href="/files" class="nav-link link-secondary">Files</a></li>
      </ul>

      <form action="/search" method="get" id="searchForm" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input name="keyword" type="search" class="form-control" placeholder="Search..." aria-label="Search" id="keyword">
      </form>

      {% if user != null %}
      <a style="margin-right: 10px;" href="/content/create" class="btn btn-outline-secondary">New Post</a>
      {% endif %}

      <div class="dropdown text-end">
        {% if user == null%}
        <a href="/login" class="btn btn-outline-primary">Login</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/register" class="btn btn-outline-secondary">Register</a>
        {% endif%}

        {% if user != null %}
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          {% if user.getAvatar_path()!=null %}
            <img src="{{ user.getAvatar_path() }}" alt="avatar" width="32" height="32" class="rounded-circle">
          {% endif %}

          <span>{{ user.getNickname() }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-macos mx-0 shadow" aria-labelledby="dropdownUser1" style="">
          <li><a class="dropdown-item" href="/user/{{ user.getId() }}">Profile</a></li>
          <li><a class="dropdown-item" href="/message">Direct Message</a></li>
          <li><a class="dropdown-item" href="/posts">My Posts</a></li>
          <li><a class="dropdown-item" href="/comments">My Comments</a></li>
          {% if user.findMaxLevel().getManageSite()%}
          <li><a class="dropdown-item" href="/general">Site Settings</a></li>
          {% endif %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/support">Contact Support</a></li>
          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</header>


<!--<header class="header fixed-top d-flex align-items-center">-->
<!--  <div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">-->
<!--    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Home</a></h5>-->

<!--    {% if user != null %}-->
<!--    <div class="nav-item dropdown pr-3">-->
<!--      &lt;!&ndash;    {% if user.getAvatarLink()!=null %}&ndash;&gt;-->
<!--      &lt;!&ndash;    <img src="{{user.getAvatarLink()}}" class=".img-fluid. max-width: 100%;height: auto; rounded-circle" alt="avatar"/>&ndash;&gt;-->
<!--      &lt;!&ndash;    {% endif %}&ndash;&gt;-->
<!--      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--        {{ user.getNickname() }}-->
<!--      </a>-->
<!--      <div class="dropdown-menu">-->
<!--        <a class="dropdown-item" href="/user/{{ user.getId() }}">Profile</a>-->
<!--        <a class="dropdown-item" href="/message">Direct Message</a>-->
<!--        <a class="dropdown-item" href="/posts">My Posts</a>-->
<!--        <a class="dropdown-item" href="/comments">My Comments</a>-->
<!--        {% if user.findMaxLevel().getManageSite()%}-->
<!--        <a class="dropdown-item" href="/general">Site Settings</a>-->
<!--        {% endif %}-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a class="dropdown-item" href="/support">Contact Support</a>-->
<!--        <a class="dropdown-item" href="/logout">Log out</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endif %}-->
<!--  </div>&lt;!&ndash;&ndash;&gt;-->
<!--</header>-->
<main class="container py-5">
  {% block main %}
  {% endblock %}
</main>


  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="https://about.mou.best" class="nav-link px-2 text-muted">About</a></li>
        <li class="nav-item"><a href="mailto://gxiaomouz@gmail.com" class="nav-link px-2 text-muted">Support</a></li>
        <li class="nav-item"><a href="https://github.com/xiaomouz" class="nav-link px-2 text-muted">Github</a></li>
      </ul>
      <p class="text-center text-muted">© 2023 Copyright MIT License  Open Source Code</p>
    </footer>
  </div>
</div>
</body>
</html>