{% extends "_base" %}

{% block main %}
<script>
    $(function () {
        $('#resetForm').submit(function (e) {
            $('#submitBtn').addClass('disabled');
            e.preventDefault();
            if ($('#username').val() == '') {
                $('#error').text('Please entry all information')
                return;
            };
            $('#error').text('');
            var data = {
                username: $('#username').val(),
            };
            $.ajax({
                type: 'POST',
                url: '#',
                data: JSON.stringify(data),
                success: function (resp) {
                        $('#error').addClass("visually-hidden")
                        location.assign('/reset/verify');
                },
                error: function (xhr){
                    if (xhr.status === 301 || xhr.status === 302) {
                        // 如果是跳转状态码，解析 Location 头并进行跳转
                        const locationHeader = xhr.getResponseHeader('Location');
                        if (locationHeader) {
                            console.log('Jumping to:', locationHeader);
                            location.assign(locationHeader);
                            return;
                        }
                    }
                    $('#submitBtn').removeClass('disabled');
                    if (xhr.status === 200 || xhr.status === 201) {
                        location.assign('/reset/verify?username=' + $('#username').val());
                    }
                    let resp = xhr.responseJSON
                    console.log(resp)
                    switch (resp.code) {
                        default: $('#error').removeClass("visually-hidden").text(resp.msg); break;
                    }
                },
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    });
</script>

<form id="resetForm">
    <div id="error" class="w-25 alert alert-danger visually-hidden" role="alert">

    </div>
    <div class="w-50 form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="Username or Email">
        <label for="username">Username or Email</label>
    </div>
    <button id="submitBtn" type="submit" class="btn btn-outline-primary">Next</button>
</form>
{% endblock %}