{% extends "_base" %}

{% block main %}
<div class="row">
    <div class="col-12 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-check"
             style="color:green;" viewBox="0 0 16 16">
            <path
                    d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
        </svg>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-center">Your account has been reset successfully.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-center">You can now <a href="/login">login</a> to your account.</p>
    </div>
</div>
{% endblock %}