{% extends "_base" %}

{% block main %}
<form id="verifyForm" method="get" action="/register/verify">
    <h1 class="h3 mb-3 fw-normal">Verify account</h1>
    {% if message != null %}
    <div class="w-50 alert alert-warning" role="alert">
        <p id="warning" class="text-danger">{{message}}</p>
    </div>
    {% endif %}
    <div class="w-50 alert alert-danger visually-hidden" role="alert">
        <p id="error" class="text-danger"></p>
    </div>
    {% if username!=null %}
    <div class="w-50 form-floating mb-3">
        <input name="username" type="text" class="form-control disabled"  value="{{username}}" id="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    {% else %}
    <div class="w-50 form-floating mb-3">
        <input name="username" type="text" class="form-control" id="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    {% endif %}
    <div class="w-50 form-floating mb-3">
        <input name="token" type="text" class="form-control" id="verify" placeholder="Verify Code" value="{{token}}">
        <label for="verify">Verify Code</label>
    </div>
    <button type="submit" class="btn btn-outline-primary">Done</button>
    <a class="btn btn-outline-secondary" id="resend">Resend</a>
</form>

<script>
    // when resend link click after the text set timer 60s
    $(function () {
        $("#resend").click(function (e) {
            $('#error').addClass('visually-hidden')
            $.ajax({
                type: "GET",
                url: "/register/verify/resend",
                data: {
                    username: $("#username").val()
                },
                dataType: "json",
                success: function (response) {
                    $('#error').removeClass('visually-hidden')
                    if (response.code === "201"||response.code === "200") {
                        $("#error").text(response.msg);
                    } else {
                        $("#error").text(response.msg);
                    }
                },
                error: function (xhr) {
                    $('#error').removeClass('visually-hidden')
                    console.log(xhr);
                    if (xhr.status === 301 || xhr.status === 302) {
                        // 如果是跳转状态码，解析 Location 头并进行跳转
                        const locationHeader = xhr.getResponseHeader('Location');
                        if (locationHeader) {
                            console.log('Jumping to:', locationHeader);
                            location.assign(locationHeader);
                            return;
                        }
                    }
                    let resp = xhr.responseJSON
                    console.log(resp)
                    switch (resp.code) {
                        default: $('#error').text(resp.msg); break;
                    }
                },
                contentType: 'application/json'
            });
            setTimer();
        });
    })
    function setTimer() {
        // add disable class
        document.getElementById("resend").classList.add("disabled");
        var time = 60;
        var resend = document.getElementById("resend");
        resend.innerHTML = time + "s";
        var timer = setInterval(function () {
            time--;
            resend.innerHTML = time + "s";
            if (time == 0) {
                clearInterval(timer);
                // remove disable class
                document.getElementById("resend").classList.remove("disabled");
                resend.innerHTML = "Resend";
            }
        }, 1000);
    }
</script>
{% endblock %}